{#
/**
 * @file
 * Default theme implementation for Inmail Message element.
 *
 * Available variables:
 * - message: Parsed Inmail Message object.
 *    It could be either \Drupal\inmail\MIME\Message or
 *    \Drupal\inmail\MIME\MultipartMessage.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - body: Extracted mail body.
 * - attributes: HTML attributes for the containing element.
 *
 * The following variables are available for MIME messages only:
 * - (optional) attachments: A list of elements representing attachments.
 * - (optional) unknown: A list of unknown message part elements.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('inmail/message') }}

{% if view_mode == 'teaser' %}
    <section class="inmail-message inmail--view-mode-teaser">
        <header>
            <div class="inmail-message--header-from">{{ message.from }}</div>
            {% if message.getTo is not empty %}
                <div class="inmail-message--header-to">{{ message.getTo | join(', ') }}</div>
            {% endif %}
            {% if message.getCc is not empty %}
                <div class="inmail-message--header-cc">{{ message.getCc | join(', ') }}</div>
            {% endif %}
            <div class="inmail-message--header-subject">{{ message.subject }}</div>
            <div class="inmail-message--header-received-date">{{ message.getReceivedDate() }}</div>
        </header>
        <div class="inmail-message--body-plain">{{ message.getPlainText() | slice(0, 1000) }}</div>
    </section>
{% endif %}
{% if view_mode == 'full' %}
    <section class="inmail-message inmail--view-mode-full">
        <header>
            <div class="inmail-message--header-from">
                <div class="inmail-message--header-label">From</div>
                {{ message.from }}
            </div>
            {% if message.getTo is not empty %}
                <div class="inmail-message--header-to">
                    <div class="inmail-message--header-label">To</div>
                    {{ message.getTo | join(', ') }}
                </div>
            {% endif %}
            {% if message.getCc is not empty %}
                <div class="inmail-message--header-cc">
                    <div class="inmail-message--header-label">CC</div>
                    {{ message.getCc | join(', ') }}
                </div>
            {% endif %}
            <div class="inmail-message--header-received-date">
                <div class="inmail-message--header-label">Received</div>
                {{ message.getReceivedDate() }}
            </div>
            <div class="inmail-message--header-subject">
                <div class="inmail-message--header-label">Subject</div>
                {{ message.subject }}
            </div>
            <div class="inmail-message--header-all">
                <div class="inmail-message--header-label">All Headers</div>
                {{ message.header.toString() }}
            </div>
        </header>
        {# Use getPlainText() after https://www.drupal.org/node/2405069. #}
        <div class="inmail-message--body">{{ message.getDecodedBody() }}</div>
        {% if attachments %}
            <footer>
                <ul>
                {% for attachment in attachments %}
                    <li>
                        {% if attachment.url %}
                            <a href="{{ attachment.url }}" title="{{ attachment.filename }}" target="_blank">{{ attachment.filename }}</a> ({{ attachment.filesize }})
                        {% else %}
                            {{ attachment.filename }} ({{ attachment.filesize }})
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </footer>
        {% endif %}
    </section>
{% endif %}
