{#
/**
 * @file
 * Default theme implementation for Inmail Message element.
 *
 * Available variables:
 * - message: Parsed Inmail Message object.
 *    It could be either \Drupal\inmail\MIME\Message or
 *    \Drupal\inmail\MIME\MultipartMessage.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - body: Extracted mail body.
 * - attributes: HTML attributes for the containing element.
 *
 * The following variables are available for MIME messages only:
 * - (optional) attachments: A list of elements representing attachments.
 * - (optional) unknown: A list of unknown message part elements.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('inmail/message') }}

<section class="inmail-message inmail-message--{{ view_mode }}">
  <header class="inmail-message__header">
    <div class="inmail-message__element inmail-message__header__from">
      <label>From</label>
      {{ message.from }}
    </div>
    {% if message.getTo is not empty %}
      <div class="inmail-message__element inmail-message__header__to">
        <label>To</label>
        {{ message.getTo | join(', ') }}
      </div>
    {% endif %}
    {% if message.getCc is not empty %}
      <div class="inmail-message__element inmail-message__header__cc">
        <label>CC</label>
        {{ message.getCc | join(', ') }}
      </div>
    {% endif %}
    <div class="inmail-message__element inmail-message__header__received-date">
      <label>Received</label>
      {{ message.getReceivedDate() }}
    </div>
    <div class="inmail-message__element inmail-message__header__subject">
      <label>Subject</label>
      {{ message.subject }}
    </div>
    <div class="inmail-message__element inmail-message__header__all">
      <label>All Headers</label>
      {{ message.header.toString() }}
    </div>
  </header>
  <div class="inmail-message__body">
    {% if view_mode == 'teaser' %}
      <div class="inmail-message__element inmail-message__body__subject">{{ message.subject }}</div>
    {% endif %}
    <div class="inmail-message__element inmail-message__body__content">
      {% if view_mode == 'teaser' %}
        {{ message.getPlainText() | slice(0, 1000) }}
      {% else %}
        {# Use getPlainText() after https://www.drupal.org/node/2405069. #}
        {{ message.getDecodedBody() }}
      {% endif %}
    </div>
  </div>

  {% if attachments and view_mode == 'full' %}
    <footer class="inmail-message__footer">
      <label>Attachments</label>
      <ul>
        {% for attachment in attachments %}
          <li>
            {% if attachment.url %}
              <a href="{{ attachment.url }}" title="{{ attachment.filename }}" target="_blank">{{ attachment.filename }}</a> ({{ attachment.filesize }})
            {% else %}
              {{ attachment.filename }} ({{ attachment.filesize }})
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </footer>
  {% endif %}
</section>
