{#
/**
 * @file
 * Default theme implementation to display Inmail Message object.
 *
 * Available variables:
 * - message: Parsed Inmail Message object.
 *    An instance of \Drupal\inmail\MIME\MessageInterface.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('inmail/message') }}

{% if view_mode == 'teaser' %}
    <section class="inmail-message inmail--view-mode-teaser">
        <header>
            <div class="inmail-message--header-from">{{ message.from }}</div>
            <div class="inmail-message--header-subject">{{ message.subject }}</div>
            <div class="inmail-message--header-received-date">{{ message.getReceivedDate() }}</div>
        </header>
        <div class="inmail-message--body-plain">{{ message.getPlainText() | slice(0, 1000) }}</div>
    </section>
{% endif %}
{% if view_mode == 'full' %}
    <section class="inmail-message inmail--view-mode-full">
        <header>
            <div class="inmail-message--header-from">
                <div class="inmail-message--header-label">From</div>
                {{ message.from }}
            </div>
            <div class="inmail-message--header-to">
                <div class="inmail-message--header-label">To</div>
                {{ message.getTo | join(', ') }}
            </div>
            <div class="inmail-message--header-received-date">
                <div class="inmail-message--header-label">Received</div>
                {{ message.getReceivedDate() }}
            </div>
            <div class="inmail-message--header-subject">
                <div class="inmail-message--header-label">Subject</div>
                {{ message.subject }}
            </div>
            <div class="inmail-message--header-all">
                <div class="inmail-message--header-label">All Headers</div>
                <div class="inmail-message--header-all-body">{{ message.header.toString() }}</div>
            </div>
        {# Use getPlainText() after https://www.drupal.org/node/2405069. #}
        </header>
        <div class="inmail-message--body">{{ message.getDecodedBody() }}</div>
    </section>
{% endif %}
