{#
/**
 * @file
 * Default theme implementation for Inmail Message element.
 *
 * Available variables:
 * - message: Parsed Inmail Message object.
 *    It could be either \Drupal\inmail\MIME\MimeMessage or
 *    \Drupal\inmail\MIME\MimeMultipartMessage.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - body: Plain text and HTML message body representation.
 * - attributes: HTML attributes for the containing element.
 *
 * The following variables are available for MIME messages only:
 * - (optional) attachments: A list of elements representing attachments.
 * - (optional) unknown: A list of unknown message part elements.
 * - (optional) download_message: Link to download the raw message.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('inmail/message') }}

{% if view_mode == 'full' %}
  {{ attach_library('inmail/inmail.message') }}
{% endif %}

<section class="inmail-message inmail-message--{{ view_mode }}">
  <header class="inmail-message__header">
    <div class="inmail-message__element inmail-message__header__from">
      <label>From</label>
      {{ address_from }}
    </div>
    {% if addresses_to %}
      <div class="inmail-message__element inmail-message__header__to">
        <label>To</label>
        {% for address_to in addresses_to %}
          {{ address_to }}
        {% endfor %}
      </div>
    {% endif %}
    {% if addresses_cc %}
      <div class="inmail-message__element inmail-message__header__cc">
        <label>CC</label>
        {% for address_cc in addresses_cc %}
          {{ address_cc }}
        {% endfor %}
      </div>
    {% endif %}
    <div class="inmail-message__element inmail-message__header__received-date">
      <label>Received</label>
      {{ message.getReceivedDate() }}
    </div>
    <div class="inmail-message__element inmail-message__header__subject">
      <label>Subject</label>
      {{ message_subject }}
    </div>
    <div class="inmail-message__element inmail-message__header__all">
      <label>All Headers</label>
      <pre>{{ message.header.toString() }}</pre>
      {% if download_message %}
        <a href="{{ download_message }}" target="_blank">Download raw message</a>
      {% endif %}
    </div>
  </header>
  <main class="inmail-message__body">
    {% if view_mode == 'teaser' %}
      <div class="inmail-message__element inmail-message__body__subject">{{ message_subject }}</div>
    {% endif %}
    {% if view_mode == 'full' and body.html and body.plain %}
      <ul>
        <li><a href="#inmail-message__body__html">HTML</a></li>
        <li><a href="#inmail-message__body__content">Plain</a></li>
      </ul>
    {% endif %}
    {% if body.html %}
      <div class="inmail-message__element inmail-message__body__html" id="inmail-message__body__html">{{ body.html }}</div>
    {% endif %}
    {% if body.plain %}
      <div class="inmail-message__element inmail-message__body__content" id="inmail-message__body__content">{{ body.plain }}</div>
    {% endif %}
  </main>
  {% if view_mode == 'full' %}
    <footer class="inmail-message__footer">
      {% if attachments %}
        <div class="inmail-message__element inmail-message__footer__attachments">
          <label>Attachments</label>
          <ul>
            {% for attachment in attachments %}
              <li>
                {% if attachment.url %}
                  <a href="{{ attachment.url }}" title="{{ attachment.filename }}"
                     target="_blank">{{ attachment.filename }}</a> ({{ attachment.filesize }})
                {% else %}
                  {{ attachment.filename }} ({{ attachment.filesize }})
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if unknown %}
        <div class="inmail-message__element inmail-message__footer__unknown">
          <label>Unknown parts</label>
          <ul>
            {% for unknown_part in unknown %}
              <li>
                {% if unknown_part.url %}
                  <a href="{{ unknown_part.url }}" title="{{ unknown_part.filename }}"
                     target="_blank">{{ unknown_part.filename }}</a> ({{ unknown_part.filesize }})
                {% else %}
                  {{ unknown_part.filename }} ({{ unknown_part.filesize }})
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </footer>
  {% endif %}
</section>
