{#
/**
 * @file
 * Default theme implementation to display Inmail MultipartMessage object.
 *
 * Available variables:
 * - message: Parsed Inmail MultipartMessage object.
 *    An instance of \Drupal\inmail\MIME\MultipartMessage.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 *
 * @ingroup themeable
 */
#}
<style>
    .message-header {
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .message-header__from, .message-header__subject, .message-header__received-date {
        margin: 10px;
    }
    .truncate_mail {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

{% if view_mode == 'teaser' %}
    {# @todo: Discuss the teaser mode. #}
    <section class="message-header">
        <div class="message-header__from">{{ message.from }}</div>
        <div class="message-header__subject">{{ message.subject }}</div>
        <div class="message-header__received-date">{{ message.getReceivedDate() }}</div>
    </section>
    <p class="truncate_mail">{{ message.getPlainText() | slice(0, 1000) }}</p>
{% endif %}
{% if view_mode == 'full' %}
    <div>
        {# @todo: Loop over header fields #}
        <p><strong>Header:</strong> {{ message.header.toString() }}</p>

        <p><strong>Received:</strong> {{ message.getReceivedDate() }}</p>
        <p><strong>From:</strong> {{ message.from }}</p>
        <p><strong>To:</strong> {{ message.to }}</p>
        <p><strong>Subject:</strong> {{ message.subject }}</p>
    </div>
{% endif %}
