{#
/**
 * @file
 * Default theme implementation to display Inmail Message object.
 *
 * Available variables:
 * - message: Parsed Inmail Message object.
 *    An instance of \Drupal\inmail\MIME\MessageInterface.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('inmail/message') }}

{% if view_mode == 'teaser' %}
    {# @todo: Discuss the teaser mode. #}
    <section class="message-header">
        <div class="message-header__from">{{ message.from }}</div>
        <div class="message-header__subject">{{ message.subject }}</div>
        <div class="message-header__received-date">{{ message.getReceivedDate() }}</div>
    </section>
    <p class="truncate_mail">{{ message.getPlainText() | slice(0, 1000) }}</p>
{% endif %}
{% if view_mode == 'full' %}
<div>
    {# @todo: Loop over header fields #}
    <p><strong>Header:</strong> {{ message.header.toString() }}</p>

    <p><strong>Received:</strong> {{ message.getReceivedDate() }}</p>
    <p><strong>From:</strong> {{ message.from }}</p>
    <p><strong>To:</strong> {{ message.getTo | join(', ') }}</p>
    <p><strong>Subject:</strong> {{ message.subject }}</p>
    {# Use getPlainText() after https://www.drupal.org/node/2405069. #}
    <p><strong>Body:</strong> {{ message.getDecodedBody() }}</p>
</div>
{% endif %}
