{#
/**
 * @file
 * Default theme implementation to display Inmail MultipartMessage object.
 *
 * Available variables:
 * - message: Parsed Inmail MultipartMessage object.
 *    An instance of \Drupal\inmail\MIME\MultipartMessage.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 *
 * @ingroup themeable
 */
#}
<style>
    .truncate_mail {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

{% if view_mode == 'teaser' %}
    {# @todo: Discuss the teaser mode. #}
    <p>{{ message.from }} | {{ message.subject }} | {{ message.getReceivedDate() }}</p>
    <p class="truncate_mail">{{ message.getPlainText() | slice(0, 1000) }}</p>
{% endif %}
{% if view_mode == 'full' %}
    <div>
        {# @todo: Loop over header fields #}
        <p><strong>Header:</strong> {{ message.header.toString() }}</p>

        <p><strong>Received:</strong> {{ message.getReceivedDate() }}</p>
        <p><strong>From:</strong> {{ message.from }}</p>
        <p><strong>To:</strong> {{ message.to }}</p>
        <p><strong>Subject:</strong> {{ message.subject }}</p>
    </div>
{% endif %}
